.orgHome-main-div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.create-project-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.projects-div {
  height: 60%;
  margin-top: 5px;
  padding-right: 10px;
}

.analytics-div {
  flex: 1;
}
