.nav-bar {
  align-self: center;
  width: 95%;
  padding-left: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-radius: 35px;
}

.nav-list {
  display: flex;
}

.nav-list-li {
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}

.icon-div {
  cursor: pointer;
}
