.org-project-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.org-project-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  height: 50%;
  padding: 10px;
}

.org-form-object {
  display: flex;
  flex-direction: column;
}

.org-form-input {
  outline: none;
  padding: 3px;
}

.org-form-textarea {
  outline: none;
  height: 80px;
  padding: 3px;
}

.org-form-date {
  width: 12%;
}
