.org-project-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.org-project-form {
  height: 55%;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 30px;
}

.org-form-object {
  display: flex;
  flex-direction: column;
}

.org-form-input {
  outline: none;
  padding: 3px;
}

.org-form-textarea {
  outline: none;
  height: 80px;
  padding: 3px;
}

.org-form-date {
  width: 15%;
}
