.project-component {
  padding: 4px;
  display: flex;
  justify-content: space-between;
}

.project-sno {
  display: flex;
  flex-direction: column;
}

.project-go-td {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  cursor: pointer;
}

.project-go-td:hover {
  background-color: rgb(219, 218, 218);
}
