.manager-left-bottom {
  flex: 1;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
}

.mlb-single-object {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 2px;
  cursor: pointer;
}

.mlb-active {
  background-color: #76d2db;
  color: white;
}
