.manager-home-page-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding-right: 10px;
}

.manager-home-projects-div {
  height: 60%;
  display: flex;
  flex-direction: column;
}

.manager-home-analytics-div {
  flex: 1;
  margin-top: 10px;
}
