.manager-side-bar {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 30px;
  width: 125px;
  padding-right: 25px;
  padding-left: 5px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

.agileinsight-logo {
  height: 30px;
  width: 30px;
  margin-bottom: 7px;
}

.manager-sideBar-upper {
  display: flex;
  flex-direction: column;
}

.manager-sideBar-down {
  flex: 1;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 30px;
}

.manager-side-bar-option {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
  width: 85%;
  cursor: pointer;
  font-size: small;
}

.manager-sideBar-active {
  background-color: rgb(118, 210, 219);
  color: white;
  border-radius: 5px;
}
