.project-overview-body {
  min-height: 100%;
  width: 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 30px;
  padding: 10px;
}

.project-analytics {
  flex: 1;
}

.circular-progressbar {
  display: flex;
  flex-direction: column;
  max-height: 250px;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(182, 182, 182);
}

.basic-details-outer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  padding: 5px;
  border-radius: 5px;
  color: #76d2db;
  background-color: rgb(203, 241, 245);
}

.basic-details-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: small;
  margin-left: 10px;
}
