.project-page-first-section {
  display: flex;
  justify-content: center;
}

.project-page-header-options {
  display: flex;
  justify-content: space-between;
  width: 30%;
  border-radius: 30px;
  background-color: rgb(203, 241, 245);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.project-page-header-options-button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 30px;
  font-size: large;
  font-weight: 700;
  color: white;
  background: transparent;
  cursor: pointer;
}

.project-page-header-options-button:hover {
  background-color: rgb(118, 210, 219);
}
