.show-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 50%;
}

.show-list-header {
  display: flex;
  justify-content: space-between;
}

.show-list-section {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* dark background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-inner-div {
  height: 350px;
  width: 350px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.add-form {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.add-input {
  outline: none;
  /* padding: 5px; */
  font-size: medium;
}
