.show-list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 30px;
  overflow-y: auto;
}

.show-list-header {
  display: flex;
  justify-content: space-between;
  font-size: medium;
}

.show-list-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: small;
}

.sprints-list {
  font-size: small;
  display: flex;
  overflow-x: auto;
}

.sprint-obj {
  padding: 5px;
  border-right: 1px solid black;
  cursor: pointer;
}

.list-option {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding: 3px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-inner-div {
  height: 70%;
  width: 40%;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.add-form {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 7px;
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.add-input {
  outline: none;
  /* padding: 5px; */
  font-size: medium;
}
